.hidden {
  display: none !important;
}

.container {
  max-width: 575px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column-full {
  width: 100%;
}

.column-half {
  width: 50%;
}

.column-forty {
  width: 40%;
}

.column-sixty {
  width: 60%;
}

.search-container {
  padding: 80px 0 85px;
  display: block;
}

.header-container {
  height: 3rem;
}

.center {
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .container,
  .grid,
  #object-listing,
  #display-page {
    min-width: 375px;
  }
  .search-heading  {
    font-size: 2rem;
  }
  .result-search-text,
  .return-results-text, {
    font-size: 1rem;
  }
}
