.hidden {
  display: none !important;
}
html, body {
  min-height: 100%;
}

body, main {
  height:100vh;
}
.container {
  max-width: 575px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column-full,
.column-half {
  width: 100%;
}

.search-container {
  padding: 80px 0 85px;
  width: 80%;
  display: block;
}

.main-background-color {
  background-color: #202124;
}

.center {
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media screen and (min-width: 576px) {
  .container {
    max-width: 900px;
  }

  .column-full,
  .column-half {
    padding: 0 0.75rem;
  }

  .column-half {
    width: 50%;
  }
}
