.hidden {
  display: none !important;
}

.container {
  max-width: 575px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column-full {
  width: 100%;
}

.column-half {
  width: 50%;
}

.column-display-img {
  width: 40%;
}

.column-display-text {
  width: 60%;
}

.search-container {
  padding: 5rem 0 5.3125rem;
  display: block;
}

.header-container {
  height: 3rem;
}

.center {
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media screen and (max-width: 1200px) {
  .search-heading {
    font-size: 3rem;
  }

  h2 {
  font-size: 1.5em;
  }
  .display-card {
    max-width: 876px;
    width: 100%;
    height: 431px;
    background: #EAEAEA;
    border-radius: 10px;
    margin: 0 auto;
    box-shadow: 5px 5px 40px 1px grey;
    display: flex;
    overflow: hidden;
  }
  .column-display-img > img {
  width: 330px;
  height: 399px;
  margin: 0.625rem 0.625rem 0;
  }
}

@media screen and (max-width: 768px) {
  .container,
  .grid,
  #object-listing,
  #display-page {
    min-width: 375px;
  }
  .search-heading  {
    font-size: 2rem;
  }
  h2 {
    font-size: 1rem;
  }
  .display-card {
    min-width: 375px;
  }
  .column-display-img > img {
  width: 250px;
  height: 150px;
}
