body {
  font-family: "Roboto", sans-serif;
  background-color: #202124;

}

h1 {
  color: white;
  font-size: 3rem;
  margin-bottom: 6px;
  font-weight: 500;
}

/* navbar  */
a {
  text-decoration: none;
  color: #78a78f;
  padding-left: 2px;
}
.header-logo {
  color: white;
  font-weight: bold;
}

header {
  height: 50px;
  background-color: #343a40;
  margin: 0;
  line-height: 50px;
  font-weight: 300;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

a:hover {
  text-decoration: none;
}
/* buttons */
.nav-button {
  margin: 10px 8px;
  border: 1.5px solid #78a78f;
  color: #78a78f;
  border-radius: 5px;
  background-color: transparent;
  cursor: pointer;
  font-size: .75rem;
}

.search-button,
.enter-button {
  padding: 10px 22px;
  margin: 10px;
  border: none;
  color: white;
  border-radius: 5px;
  background-color: #303134;
  cursor: pointer;
  font-size: 1rem;
}

.search-button:hover,
.enter-button:hover {
  color: rgb(180, 177, 177);
  background-color: rgb(37, 37, 37);
  cursor: pointer;
}

/* search bar */
form {
  width: 100%;
}
.search-bar {
  display: flex;
  background: #202124;
  border: 1px solid #5f6368;
  box-shadow: none;
  border-radius: 24px;
  margin: 0 auto;
  padding-left: 34px;
  color: white;
  text-align: left;
  height: 44px;
  font-size: 14px;
}

.fa-magnifying-glass {
  color: white;
  text-align: left;
  position: relative;
  left: 26px;
}
.input-wrapper {
  display: flex;
  justify-content: space-between;
  margin-right: 18px;

}

input.search-bar {
  width: 100%;
  max-width: 600px;
}

input::placeholder {
  text-align: left;
}

/* search results */
h2 {
  color: white;
  position: relative;
  margin-left: 5%;
  font-size: 1.5em;
}
.card-wrapper {
  text-align: left;
}

.grid {
	display: grid;
	max-width: 80rem;
	margin: 0 auto;
	grid-template-columns: repeat(auto-fit, minmax(min(300px, 100%), 1fr));
	grid-template-rows: 1fr auto;
	gap: 1.5rem;
}

#object-listing {
  padding: 2px 2px 2px;
}

.card {
  max-width: 18rem;
  padding: 0.5rem;
  margin-bottom: 2rem;
  cursor: pointer;
  transform: scale(1);
  transition: transform 0.5s;
}

.result-img {
  width: 100%;
  box-shadow: 4px 3px 4px 4px rgba(0, 0, 0, 0.25);

}
.result-description {
  font-size: .75rem;
  margin: 3px;
  text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.25);
  color: white;

}

.card:hover {
  transform: scale(1.1);
}

/* display */

.display-card {
  width: 876px;
  height: 431px;
  background: #EAEAEA;
  border-radius: 10px;
  margin: 0 auto;
  box-shadow: 5px 5px 40px 1px grey;
  display: flex;
}

.display-medium {
  font: .75rem;
  color: #535151;
  font-style: italic;
}

.display-title {
  font-size: 1.2rem;
}

.display-creator {
  font-size: .9rem;
}

.display-desc {
  font-size: .89rem;
  padding: 10px 0;
}

.display-img {
  box-shadow: 4px 3px 4px 4px rgba(0, 0, 0, 0.25);
}
.return-results-text {
  cursor: pointer;
}


.column-forty> img {
  width: 330px;
  height: 399px;
  margin: 10px 10px 0;
}

.piece-description {
 margin: 12px;
 position: relative;
}

.fa-heart {
  position: relative;
  left: 95%;
}
